USE [master]
GO
/****** Object:  Database [Athletes]    Script Date: 11/6/2022 10:47:40 PM ******/
CREATE DATABASE [Athletes]
 CONTAINMENT = NONE
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Athletes].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Athletes]
GO
/****** Object:  Table [dbo].[Athlete]    Script Date: 11/6/2022 10:47:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Athlete](
	[A_ID] [int] NOT NULL,
	[Name] [varchar](20) NOT NULL,
	[Age] [int] NOT NULL,
	[S_ID] [int] NOT NULL,
 CONSTRAINT [PK_Athlete] PRIMARY KEY CLUSTERED 
(
	[A_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sport]    Script Date: 11/6/2022 10:47:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sport](
	[S_ID] [int] NOT NULL,
	[Name] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Game] PRIMARY KEY CLUSTERED 
(
	[S_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Athlete] ([A_ID], [Name], [Age], [S_ID]) VALUES (1, N'Ahmed', 20, 2)
INSERT [dbo].[Athlete] ([A_ID], [Name], [Age], [S_ID]) VALUES (2, N'Tarek', 17, 3)
INSERT [dbo].[Athlete] ([A_ID], [Name], [Age], [S_ID]) VALUES (3, N'Hala', 10, 1)
INSERT [dbo].[Sport] ([S_ID], [Name]) VALUES (1, N'Unkown    ')
INSERT [dbo].[Sport] ([S_ID], [Name]) VALUES (2, N'Football  ')
INSERT [dbo].[Sport] ([S_ID], [Name]) VALUES (3, N'Volleyball')
ALTER TABLE [dbo].[Athlete] ADD  CONSTRAINT [DF_Athlete_S_ID]  DEFAULT ((1)) FOR [S_ID]
GO
ALTER TABLE [dbo].[Athlete]  WITH CHECK ADD  CONSTRAINT [FK_Athlete_Sport] FOREIGN KEY([S_ID])
REFERENCES [dbo].[Sport] ([S_ID])
ON UPDATE CASCADE
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[Athlete] CHECK CONSTRAINT [FK_Athlete_Sport]
GO
USE [master]
GO
